transformers==4.57.3
accelerate
peft
pyyaml
bitsandbytes
scipy
huggingface_hub[hf_xet]
llama-cpp-python
protobuf
sentencepiece
datasets
Pandas
mistral-common[image,audio]
matplotlib

# Install gguf directly from llama.cpp repo
https://github.com/ggml-org/llama.cpp/archive/refs/heads/master.zip#subdirectory=gguf-py

# Testing
pytest
nltk
rouge-score
